:root {
  --font-family: "PT Serif", "serif";
  --second-family: "Delicious Handrawn", serif;

  --primary-color: #5eff6e;
  --light-color: #fffdf7;
  --background-light: #f7f4ee;
  --background-dark: #7e7e7e;
  --section-bg: #cecece;
  --secondary-color: #e8e1d6;
  --text-color: #0e0e0d;
  --accent-green: #99c679;

  --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
