.about {
  background-color: var(--section-bg);
}
.about-container {
  display: grid;
  gap: 40px;
  justify-items: center;
  justify-content: center;

  border-top: 1px solid var(--background-dark);
  padding-top: 20px;
  @media (min-width: 768px) {
    grid-template-columns: 250px 450px;
  }
}
.about-content {
  padding: 20px;
  border-radius: 8px;
}
.about-subtitle {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--highlight-color);
  margin-bottom: 10px;
}
.about-text {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--background-dark);

  font-size: 16px;
  color: var(--third-color);
}
.about-highlight {
  border-top: 1px solid var(--background-dark);
  padding-top: 20px;
}
.about-text--bold {
  padding-top: 20px;
  font-size: 26px;
  font-weight: bold;
  color: var(--accent-green);
}
