.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.advantage-item {
  padding: 20px;
  text-align: start;

  @media (min-width: 768px) {
    width: 30%;
    border-right: 1px solid var(--accent-green);
  }
}
.advantage-number {
  font-size: 48px;
  font-weight: bold;
  color: var(--accent-green);
  opacity: 0.4;
}
