.hero-section {
  padding: 40px 0;
}
.hero-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 50px 0;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.subheading {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--highlight-color);
  letter-spacing: 1px;
}
.main-heading {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
  color: white;
}
.hero-text {
  font-size: 16px;
  color: var(--item-color);
  margin-bottom: 20px;
}
.hero-button {
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  color: white;
  padding: 12px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.hero-button:hover {
  background-color: var(--hover-color);
}
.button-icon {
  margin-right: 8px;
  font-size: 16px;
  color: white;
}
.hero-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.hero-img {
  border-radius: 10px;
  object-fit: cover;
  background-color: var(--second-bg-color);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  height: 150px;
  &:nth-child(2) {
    margin-top: 50px;
  }
  &:nth-child(3) {
    margin-top: -50px;
  }
}
.hero-img img {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
