.about {
  padding-top: 100px;
}
.about-title {
  position: relative;
  margin-bottom: clamp(20px, calc(10px + 5vw), 85px);

  font-family: var(--second-family);
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: -0.02em;

  @media (min-width: 1024px) {
    &::after {
      position: absolute;
      right: 0;
      bottom: 10px;
      content: "";
      width: 558px;
      height: 6px;

      background-color: var(--primary-color);
    }
  }
}
.about-container {
  display: grid;
  justify-items: center;
  @media (min-width: 1024px) {
    grid-template-columns: 400px 1fr;
    column-gap: 32px;
  }
}
.about-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
  @media (min-width: 1024px) {
    align-items: flex-start;
    flex-direction: row;
  }
}
.about-text {
  margin-bottom: clamp(20px, calc(10px + 5vw), 65px);

  font-size: clamp(0.875rem, 0.955vw + 0.64rem, 1.5rem);
  line-height: clamp(1.4rem, 1.528vw + 1.025rem, 2.4rem);
}

.amenities {
  background-color: var(--section-bg);
}
.amenities-list {
  display: grid;
  gap: 15px;
  margin-bottom: 45px;
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    gap: 55px;
  }
}
.amenities-wrapper {
  position: relative;
  border-radius: 100px;
  margin-bottom: 10px;
  width: 130px;
  height: 130px;
  background-color: var(--primary-color);
}
.amenities-wrapper img {
  position: absolute;
  top: 0;
  right: -30px;
}
.amenities-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 171%;
  letter-spacing: -0.02em;
}

.testimonials-thumb {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  @media (min-width: 1200px) {
    grid-template-columns: 350px 450px;
  }
}
.testimonials-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.testimonial {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 60px;
  border-radius: 10px;
  box-shadow: 0 14px 65px 0 rgba(88, 88, 88, 0.1);
  @media (min-width: 768px) {
    &:nth-child(2) {
      margin-left: -90px;
      width: 90%;
    }
  }
}
.customer-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.customer-avatar {
  position: absolute;
  top: 20px;
  left: -15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.customer-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.customer-date {
  font-size: 14px;
  color: #777;
}
